.wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 0 0 280px;
  margin-top: 13px !important;
}

.mainContent{
  margin: 20px;
  border-radius: 20px;
  background: #fff;
  padding: 20px;
}