.marker {

  width: 40px;
  height: 40px;
  border-radius: 100%;
  user-select: none;
  display: block;
  background-image: url("../../../../../Images/markerend.svg");
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-position: center;

  &:hover {
    z-index: 1;
  }
}